<!DOCTYPE html>
<html ng-app="ionicApp" lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<meta name="viewport"
	      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=8">
	<meta http-equiv="Expires" content="0">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Cache-control" content="no-cache">
	<meta http-equiv="Cache" content="no-cache">

	<link rel="stylesheet" href="css/ionic.min.css"/>
	<link rel="stylesheet" href="css/common.css"/>


	<script src="js/ionic.bundle.min.js"></script>

	<script src="js/onezonedatepicker/src/js/onezone-datepicker.js"></script>
	<script src="js/onezonedatepicker/src/js/onezone-datepicker-service.js"></script>
	<link rel="stylesheet" href="js/onezonedatepicker/src/style/onezone-datepicker.css"/>

	<script src="js/angular-cookie.min.js"></script>
	<script src="js/echarts-all.js"></script>

	<script src="js/qrcode.js"></script>
	<script src="js/angular-qrcode.js"></script>
</head>
<body ng-controller="MyCtrl">

<ion-nav-bar ng-if="ifApp" class="bar-light">
	<ion-nav-back-button ng-click="ionicHistoryGoBack()">
		{{getPreviousTitle() || ''}}
	</ion-nav-back-button>
</ion-nav-bar>

<ion-nav-view></ion-nav-view>

<script src="js/app.js"></script>
<script src="js/controllers.js"></script>
<script src="js/directives.js"></script>

</body>
</html>