<!--<ion-modal-view>-->
	<!--<ion-header-bar class="bar bar-header bar-positive">-->
		<!--<h1 class="title">New Contact</h1>-->
		<!--<button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>-->
	<!--</ion-header-bar>-->
	<!--<ion-content class="padding">-->
		<!--<div class="list">-->
			<!--<label class="item item-input">-->
				<!--<span class="input-label">First Name</span>-->
				<!--<input ng-model="newUser.firstName" type="text">-->
			<!--</label>-->
			<!--<label class="item item-input">-->
				<!--<span class="input-label">Last Name</span>-->
				<!--<input ng-model="newUser.lastName" type="text">-->
			<!--</label>-->
			<!--<label class="item item-input">-->
				<!--<span class="input-label">Email</span>-->
				<!--<input ng-model="newUser.email" type="text">-->
			<!--</label>-->
			<!--<button class="button button-full button-positive" ng-click="createContact(newUser)">Create</button>-->
		<!--</div>-->
	<!--</ion-content>-->
<!--</ion-modal-view>-->
<ion-modal-view ng-click="closeModal()" style="background-color: rgba(0,0,0,0.75);">

<!--<div class="modal" style="background-color: rgba(0,0,0,0.75);">-->
	<!--<ion-header-bar>-->
		<!--<h1 class="title">我的模型标题</h1>-->
	<!--</ion-header-bar>-->
	<!--<ion-content>-->

	<img style="width: 38%;position: absolute;top: 8%;right: 4%;" src="img/mask1.png" alt=""/>
	<!--</ion-content>-->
	<div style="color: white;text-align: center;position: absolute;top: 26%;right: 38%;font-size: 20px;">
		<p>❶点击右上角</p>
		<p>❷在浏览器中打开</p>

	</div>
<!--</div>-->
</ion-modal-view>
